@using OnlineLibrary.Models;
@{
    ViewBag.Title = "AvailableBook";
}

<h2>Available Book</h2>
<div>
    <div>
        <table width="90%" border="1" align="center">
            <tr>
                <td align="center"><h4>@Html.ActionLink("All books", "Index", "Home")</h4></td>
                <td align="center"><h4>Available books</h4></td>
                @if (User.Identity.IsAuthenticated)
            {
                    <td align="center"><h4>@Html.ActionLink("Book taken by me", "BookTakenByUser", "Home") (@ViewBag.BooksCount)</h4></td>
                }
            </tr>
        </table>
        @if (!User.Identity.IsAuthenticated)
        {
        <h5>You need to log in to take books.</h5>
        }
        <table class="table">
            <tr>
                <td><h4>Book name</h4></td>
                <td><h4>Authors</h4></td>
                <td><h4>Quantity</h4></td>
                <td><h4>Details</h4></td>
                @if (User.Identity.IsAuthenticated)
            {
                    <td><h4>Take</h4></td>
                }
            </tr>
            @foreach (var b in ViewBag.Books)
            {
                if (b.Quantity > 0)
                {
                    <tr>
                        <td><p>@b.Name</p></td>
                        <td>
                            @foreach (Author a in b.Authors)
                            { @a.Name <br />}
                        </td>
                        <td><p>@b.Quantity</p></td>
                        <td>@Html.ActionLink("View detalis", "Details", new { id = b.Id })</td>
                        @if (User.Identity.IsAuthenticated && b.Quantity > 0)
                        {
                            <td>@Html.ActionLink("Take", "TakeBook", new { id = b.Id, UserName = User.Identity.Name })</td>
                        }
                        else if (b.Quantity == 0)
                        {
                            <td>Book out of stock</td>
                        }
                    </tr>
                 }

                }
        </table>
        <h3><a href="/Home/AddBook">Add new book.</a></h3>
    </div>

</div>
